/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fff;
  color: #212121;
}

 
.timer {
  font-family: sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}
 
.field {
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  background: #080808;
}
 
.value {
  padding: 20px;
  border-radius: 5px;
  background: #f7a0eb;
  display: inline-block;
}
 
.label {
  display: block;
  padding-top: 10px;
  font-size: 16px;
}
